---
lang: mal
layout: home
title: Home
tags:
  - Home
  - eroyx
  - Movies
  - Reviews
  - Web series
  - Cinemas
  - Oniline review
  - World Cinema
---
{% assign posts = site.posts | where:"lang", page.lang %}
<!-- Recommended Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary"><i class="fas fa-heart"></i> &nbsp; Featured</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in posts %}
{% if post.featured == true %}
        {% include postbox-3.html %}
{% endif %}
{% endfor %}
</div>
<!-- Recommended end -->
<!-- Latest Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">Latest Post</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in posts limit:8 %}
        {% include postbox-3.html %}
{% endfor %}
</div>
<!-- Latest end -->
<!-- Action Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">New in Action</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in posts %}
{% for post in site.tags.Action %}
        {% include postbox-3.html %}
{% endfor %}
{% endfor %}
</div>
<!-- Action end -->
<!-- Top Picks of the week-->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">Top Picks Of The Week</span></h4>
</div>
{% include post-modern.html %}
<!-- End Top picks of the week -->
<!-- Crime Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">New in Crime</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in site.tags.Crime limit:8 %}
        {% include postbox-3.html %}
{% endfor %}
</div>
<!-- Crime end -->
<!-- Indian Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">Popular Indian</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in site.tags.India limit:8 %}
        {% include postbox-3.html %}
{% endfor %}
</div>
<!-- Indian end -->
<!-- English Section -->
<div class="relative">
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">Popular In English</span></h4>
</div>
<div class="blog-grid-container owl-carousel owl-theme">
{% for post in site.tags.English limit:8 %}
        {% include postbox-3.html %}
{% endfor %}
</div>
<!-- English end -->
