<div id="aspect-content">
    {% for item in page.seasons %}
  <div class="aspect-tab ">
    <input id="item-{{item.seasonNo}}" type="checkbox" class="aspect-input" name="aspect">
    <label for="item-{{item.seasonNo}}" class="aspect-label"></label>
    <div class="aspect-content">
        <div class="aspect-info">
            <span class="aspect-name"><span class="series-rating">{{item.seasonRating}}</span><span class="aspect-name-sub gradient-text">Season {{item.seasonNo}}</span><span class="gradient-text">{% if item.seasonSubtitle %}: {{item.seasonSubtitle}}{% endif %}</span></span>
        </div>
    </div>
    <div class="aspect-tab-content">
        <div class="sentiment-wrapper">
            <div>
                <div>
                    <div class="opinion-header">
                        <span class="gradient-text aspect-name-sub">Review</span>
                    </div>
                    <div>
                        <span>
                            <div class="series-poster" style="background-image: url({{site.baseurl}}{{item.seasonPoster}});background-position: center;background-size: cover;">
                                <a href='{{item.streamNow}}'class='playBut'>
    
                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                                    <svg version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                                         x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                                         xml:space="preserve">
                                    
                                    <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                        73.5,62.5 148.5,105.8 73.5,149.1 "/>
                                      
                                    <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
                                    </svg>
                                    
                                    
                                        
                                      </a>
                            </div>
                            <div class="series-details">{{item.seasonReview | markdownify}}</div>
                            {% include youtubePlayer.html id=item.youtubeId %}

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>