<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Content details -->
    {% include details.html %}
    <!-- End content details -->
    {% if page.lang_selector == true %}
    <!-- Language Selecting Section -->
    {% include lan-selector.html %}
    <!-- End Language Selection -->
    {% endif %}
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {{content}}
<!-- End Yandex-->
    <!-- Youtube trailer -->
  {% if page.youtubeId %}
    {% include youtubePlayer.html id=page.youtubeId %}
  {% endif %}
</div>
