<!-- Author Box -->
{% if page.author %}
{% if site.data.others.authorbox == "enabled" %}
<div class=" authorbox align-items-center">
    <div class="col-md-2 mr-4 text-center margin-bottom-10">
        {% if author.avatar %}
        <img class="author-thumb" src="{{site.baseurl}}{{ author.avatar }}" alt="{{ author.display_name }}">
        {% else %}
        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
        {% endif %}
    </div>
    <div class="col-md-10">
        <a target="_blank" class="text-dark h4 gradient-text" href="{{ author.web }}">{{ author.display_name }}</a>
        <span class="author-description d-block mt-2">{{ author.description }}</span>
    </div>
</div>
{% endif %}
{% endif %}
