{% if page.featured_image %}
<div class="entry-featured-image">
    {% if site.lazyimages == "enabled" %}
    <img class="pc-image featured-image lazyimg {% if page.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.featured_image contains "://" %}{{ page.featured_image }}{% else %}{{ site.baseurl }}{{ page.featured_image }}{% endif %}" alt="{{ page.title }}">
    {% else %}
    <img class="pc-image featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{% if page.featured_image contains "://" %}{{ page.featured_image }}{% else %}{{ site.baseurl }}{{ page.featured_image }}{% endif %}" alt="{{ page.title }}">
    {% endif %}
</div>
{% endif %}
