<div class="btn-ftr-post mt-4 mb-4 align-items-center">
{% if page.streamNow %}
<a target="_blank" href="{{page.streamNow}}" class="btn-2 btn-white margin-15px ftr-btn"> Stream Now</a>
{% endif %}
{% if page.telegram %}
<a target="_blank" href="{{page.telegram}}" class="btn-2 telegram-bg margin-15px ftr-btn"> Telegram</a>
{% endif %}
{% if page.netflix %}
<a target="_blank" href="{{page.netflix}}" class="btn-2 netflix-bg margin-15px ftr-btn"> Netflix</a>
{% endif %}
{% if page.primeVideo %}
<a target="_blank" href="{{page.primeVideo}}" class="btn-2 prime-bg margin-15px ftr-btn"> Prime</a>
{% endif %}
</div>
