<div class="franchise_card">
  <a href="{{site.baseurl}}/franchise/{{ franchise.title | slugify }}">
    <div class="img1" style="background-image: url({{site.baseurl}}{{franchise.thumbnail}})"></div>
    <div class="img2" style="background-image: url({{site.baseurl}}{{franchise.thumbnail}})"></div>
    <div class="title">{{franchise.title}}</div>
    <div class="text">{{franchise.description}}</div>
    <div class="catagory">{{franchise.production}}</div>
    <div class="views">{{franchise.noMovies}} Movies</div>
  </a>
</div>
