<!-- begin post -->
{% assign author = site.authors | where: "name", post.author | first %}
{% assign genre = site.genre | where: "title", post.genre | first %}
{% assign country = site.countries | where: "title", post.country | first %}

<div class="blog-grid-item">
  {% for item in site.data.genre.genre %}
    <div class="card box-shadow-2">
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <span class="author-meta">
                <span class="post-name"><a href="{{site.baseurl}}/genre/{{item.title}}">{{ item.title }}</a></span>
                <span class="meta-footer-thumb">
                  {{post.rating}}
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end post -->
