<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA77FveH3PTdU4nP4t7y-dE0jWlT-GS2jY",
    authDomain: "eroyx-21a7c.firebaseapp.com",
    databaseURL: "https://eroyx-21a7c.firebaseio.com",
    projectId: "eroyx-21a7c",
    storageBucket: "eroyx-21a7c.appspot.com",
    messagingSenderId: "498791157860",
    appId: "1:498791157860:web:367024c7437d82f98d4f71",
    measurementId: "G-BBXBLS2KFK"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
