<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% assign posts = site.posts | where:"lang", page.lang %}
    {% for post in posts limit:1 %}
    <div class="item active" style="background-size:cover;background-image:url({{site.baseurl}}{{post.image}});">
        <div class="card-body-home">
            <h2 class="card-title">
                <span class="badge badge-primary margin-5">{{ post.title }} </span>
            </h2>
            <span class="card-text">{{ post.excerpt | strip_html | truncatewords:10 }}</span>
            <span class="badge badge-primary">{{ post.year }}</span> <span class="badge badge-primary"><i class="fas fa-star"></i>{{ post.rating }}</span> <span class="badge badge-primary">{{ post.director }}</span>
        </div>
    </div>
    {% endfor %}
    {% for post in posts %}
    {% if post.featured == true %}
    <div class="item" style="background-size:cover;background-image:url({{site.baseurl}}{{post.image}});">
        <div class="card-body-home">
            <h2 class="card-title">
                <span class="badge badge-primary margin-5">{{ post.title }} </span>
            </h2>
            <span class="card-text">{{ post.excerpt | strip_html | truncatewords:10 }}</span>
            <span class="badge badge-primary">{{ post.year }}</span> <span class="badge badge-primary"><i class="fas fa-star"></i>{{ post.rating }}</span> <span class="badge badge-primary">{{ post.director }}</span>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" onclick="$('#carousel-example-generic').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" onclick="$('#carousel-example-generic').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
