<div class="container-lang">
  <div class="email-lang" onclick="this.classList.add('expand-lang')">
    <div class="from-lang">
      <div class="from-contents-lang">
        <div class="avatar-lang"><i class="fas fa-language"></i></div>
        <div class="name-lang">Choose Language</div>
      </div>
    </div>
    <div class="to-lang">
      <div class="to-contents-lang">
        <div class="top-lang">
          <div class="avatar-large-lang"><div class="lang-icon"><i class="fas fa-language"></i></div></div>
          <div class="name-large-lang">Available Languages</div>
          <div class="x-touch-lang" onclick="document.querySelector('.email-lang').classList.remove('expand-lang');event.stopPropagation();">
            <div class="x-lang">
              <div class="line1-lang"></div>
              <div class="line2-lang"></div>
            </div>
          </div>
        </div>
        <div class="bottom-lang">
          {% if page.layout != 'index' %}
              {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
              {% if posts.size == 0 %}
                  {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
              {% endif %}
              {% if posts.size > 1 %}
                  {% for post in posts %}
          <div class="row-lang">
            <i class="{{ site.data.languages[post.lang].icon }}"></i>
            <div class="link-lang"><a a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }} title="View in {{post.lang}}">{{ site.data.languages[post.lang].label }}</a></div>
          </div>
          {% endfor %}
          {% endif %}
      {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
