<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Content details -->
    {% include series-details.html %}
    <!-- End content details -->
    {% if page.lang_selector == true %}
    <!-- Language Selecting Section -->
    {% include lan-selector.html %}
    <!-- End Language Selection -->
    {% endif %}
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    <!-- Series Info-->
    <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Synopsis</span></h4>
    <p class="franchise_desc">
      {{page.description}}
    </p>
    <!-- End Series Info-->
    <!-- Season Reviews -->
    <h4 class="mt-5 mb-neg-30"><span class="gradient-text home-heading">Seasons</span></h4>
    {% include accordion.html %}
    <!-- end Season Reviews-->
<!-- End Yandex-->
    <!-- Youtube trailer -->
  {% if page.youtubeId %}
    {% include youtubePlayer.html id=page.youtubeId %}
  {% endif %}
</div>
