

/* Additional Styles Added */
.ftr-btn {
  margin-right: 20px;
  display: inline;
  padding: 10px 0px;
  font-weight: 600;
}

@media (max-width: 1192px) {
  .ftr-btn {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1192px) {
  .ftr-btn {
    padding: 10px 100px;
  }
}

.inline {
  display: inline;
}

.gradient-bg {
  border-radius: 5px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  box-shadow: 0 0 1px 4px #ff17176b;
  -webkit-box-shadow: 0 0 1px 4px #ff17176b;
  -moz-box-shadow: 0 0 1px 4px #ff17176b;
  color: #fff;
}

.gradient-text {
    background-color: #F45C43;
    background-image: linear-gradient(to right, #ff6a00, #ee0979);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.color {
  color: #ff0758;
}

.card-footer {
  color: #fff;
  background: linear-gradient(to top, #23252d, #ee097900);
}

.author-thumb {
  box-shadow: 0 0 1px 4px #ff9595b0;
}

.position {
    margin: 5px 0px 0px 5px;
    background: linear-gradient(to right, #ff6a00, #ee0979);
    padding: 3px 5px;
    border-radius: 5px;
  }

  .position-2 {
      border-radius: 10px;
      margin: 5px 0px 0px 5px;
      background: linear-gradient(to right, #ff6a00, #ee0979);
      padding: 3px 5px;
    }

.absolute {
  position: absolute;
}
  .meta-footer-thumb {
      float: right;
      background: #111216;
      color: #ee0979;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 4px;
      box-shadow: 0 0 1px 4px #f9f9f978;
    }

    .btn-gradient {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }
 .badge-primary {
   background: linear-gradient(to right, #ff6a00, #ee0979);
   border-radius: 5px;
   padding: 5px 10px;
   color: #12141a;
 }
 .badge-primary-2 {
   background: linear-gradient(to right, #ff6a00, #ee0979);
   padding: 5px 10px;
   color: #111216;
 }
.box-shadow-1 {
  box-shadow: 0 0 10px #bcbcbc;
}

.box-shadow-2 {
  box-shadow: 0 30px 60px -10px rgba(0,0,0,0.22), 0 18px 36px -18px rgba(0,0,0,0.25);
}

.box-shadow-4 {
  box-shadow: 0 1px 3px rgba(72, 72, 72, 0.8);
}

.content-details {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.details {
    font-size: 20px;
    display: inline-flex;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
}
.details-primary {
    color: #111216;
    background: linear-gradient(to right, #ff6a00, #ee0979);
    border-radius: 5px 0px 0px 5px;
    padding: 5px 10px;
}
.details-secondary {
    background-color: #272933;
    border-radius: 0px 5px 5px 0px;
    padding: 5px 10px;
    margin-left: -5px;
    color: #ee0979;
}
.details-section {
    text-align: center;
}

.white-text {
  color: #fff;
}

.margin-15px {
  margin-top: 15px;
}

.box-shadow-3 {
  box-shadow: 0 0 1px 4px #ff17176b;
}

.width-100 {
  width: 100%;
}

.border-radius-15 {
  border-radius: 15px;
}
.card-footer-2 {
    color: #111216;
    background: linear-gradient(to right, #ff6a00, #ee0979);
    background-color: rgba(0, 0, 0, 0);
  }

  .pc-image {
      border-radius: 15px;
      height: 600px;
      width: 400px;
  }

  @media (max-width: 997px) {
    .pc-image {
    height: 500px;
    width: 340px;
  }
}

  @media (max-width: 472px) {
    .pc-image {
    height: 410px;
    width: 280px;
  }
}

.contact {
    border: transparent;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 52, 102, 0.11) !important;
    margin-top: 10px;
  }

  .search {
      width: 100%;
      border: transparent;
      margin-top: 5px;
      box-shadow: 0px 2px 5px 0px rgba(0, 52, 102, 0.11) !important;
  }

  .telegram-bg {
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(to right, #5cdef3, #12c6e3);
      box-shadow: 0 0 1px 4px #2ccde757;
      -webkit-box-shadow: 0 0 1px 4px #2ccde757;
      -moz-box-shadow: 0 0 1px 4px #2ccde757;
  }

  .hotstar-bg {
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(to right, #167ac6, #22a0ff);
    box-shadow: 0 0 1px 4px #afdcff;
    -webkit-box-shadow: 0 0 1px 4px #afdcff;
    -moz-box-shadow: 0 0 1px 4px #afdcff;
}

.youtube-bg {
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(to right, #ff1121, #ff5b5b);
    box-shadow: 0 0 1px 4px #ffbbc6;
    -webkit-box-shadow: 0 0 1px 4px #ffbbc6;
    -moz-box-shadow: 0 0 1px 4px #ffbbc6;
}

.modal-dialog {
  border-radius: 15px;
}

.modal-content {
  border: transparent;
  border-radius: 15px;
}

.modal-header {
  border: transparent;
}

.modal-footer {
  border: transparent;
}

.btn {
  border-radius: 5px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #1f2129;
}

.lunrsearchresult {
    list-style-type: none;
    margin-top: 10px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,52,102,.11) !important;
    background:  #1f2129;
    display: inline-block;
    width: 48%;
    margin: 5px 5px 0px 0px;
}
.modal-header .close {
  color: #fff;
}
.search-img {
  border-radius: 18px;
}
.search-lang {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 10px;
  position: absolute;
  margin: 5px;
  font-weight: 600;
  font-size: 10px;
}
.mb-0 {
    margin-left: -35px;
}

.modal-content {
    background: transparent;
}

.modal-header {
    border: transparent;
    background: #1f2129;
    border-radius: 20px;
    margin: 0px 19px;
    color: #fff;
    margin-top: 10px;
}

.btn-2 {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: transparent;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    min-width: 180px;
    border: transparent;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn-ftr-post {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.author {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.authorbox {
    background: #272933;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0,52,102,0.11) !important;
  }

  @media (max-width: 770px) {
    .authorbox {
      display: block !important;
    }
  }

  @media (min-width: 770px) {
    .authorbox {
      display: flex !important;
    }
  }

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .netflix-bg {
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(to right, #000000, #e31213);
      box-shadow: 0 0 1px 4px #ff00007d;
      -webkit-box-shadow: 0 0 1px 4px #ff00007d;
      -moz-box-shadow: 0 0 1px 4px #ff00007d;
  }
  .prime-bg {
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(to right, #56d4ff, #19869e);
      box-shadow: 0 0 1px 4px #2ccde757;
      -webkit-box-shadow: 0 0 1px 4px #82e2ff75;
      -moz-box-shadow: 0 0 1px 4px #2ccde757;
  }
  a.btn-2:hover {
    color: #e9ecef;
    text-decoration: none;
}
.translate {
  text-align: center;
}

.zoom {
  transition: transform .3s;
}

.zoom:hover {
  transform: scale(1.078);
}

.zoom-2 {
  transition: transform .3s;
}

.zoom-2:hover {
  transform: scale(1.03);
}

#lunrsearchresults {
  position: absolute;
}

.top-margin {
  margin-top: -300px;
}

.relative {
  position: relative;
}

.card-body-home {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    width: 70%;
    float: left;
    margin-top: 25%;
    margin-left: 15%;
    background: #111216b5;
    border-radius: 20px;
}

.card-text {
    margin-bottom: 10px;
    display: block;
    color: #fff;
}
.header-btn {
    margin-top: 15px;
    display: block;
}
@media (max-width: 600px) {
  .card-body-home {
    width: 85%;
    float: left;
    margin-left: 7%;
    margin-bottom: 5px;
    margin-top: 40%;
 }
   .top-margin {
    margin-top: -250px;
 }
}

@media (min-width: 901px) {
  .card-body-home {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 17%;
}
}
@media (min-width: 600.99px) {
    i.fas.fa-search.show-search.color {
       background: #1f2129;
       padding: 13px;
       border-radius: 10px;
   }
    .wrap-search {
       right: 20px;
       top: 20px;
   }
    .bd-search {
       margin-right: 10px;
   }
}

@media (max-width: 600px) {
    .wrap-search{
      right: 30px;
      top: 20px;
   }
   i.fas.fa-search.show-search.color {
     visibility: hidden;
   }
}

.text-dark.gradient-text {
  text-decoration: none;
}

.margin-5 {
  margin-right: 5px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 400px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.carousel-inner {
  height: 100%;
}

.item {
  height: 100%;
  background-position: center;
}
@media (max-width: 599.9px) {
.share {
  position: relative;
}
}
.default {
  margin-top: 100px;
}
.btn-white {
    color: #ee0979;
    background: #272933;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1px 4px #27293385;
}

/* Author Card
Details of Author , Post Count, Author Social */
.profile {
  background-color:#21242d;
  height: auto;
  border-radius:24px;
  border:none;
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
  transition:all .3s;
}

.profileName {
  background:transparent;
  border:0;
  text-align:center;
  font-size:16px;
  font-weight:800;
  color:#eee;
}

.isVerified {
  fill: #eee;
  margin:5px;
}

.card-body-author {
  color:#eee;
  margin-top:1.5em;
  background: linear-gradient(to right,#ef0d7491,#fe66057d);
  margin: 0px 50px;
  border-radius: 20px;
  padding: 20px;

}
.avatar {
  border-radius:50%;
  max-width:128px;
  transform: scale(0.95);
  transition:all .5s;
  cursor:pointer;
}
.avatar:hover {
  transform: scale(1);
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.2);
}
.profilePic {
  text-align:center;
}
.isOnline {
  text-align:center;
  color:#eee;
}
.profileInfo {
  margin-top:1em;
  font-weight:600;
  font-size:12px;
  color:#eee;
  text-align:center;
}
.actions {
  background:transparent;
  border:0;
  color:#fff;
  display:inline-flex;
}
.actionFirst, .actionSecond {
  width:50%;
  text-align:center;
  fill:#ddd;
  transform: scale(0.8);
  transition:all .3s;
  cursor:pointer;
}
.actionFirst:hover, .actionSecond:hover {
  transform: scale(1);
  fill:#fff;

}
.actionFirst a {
    color: #fff;
    text-decoration: none;
}
.actionSecond a {
    color: #fff;
    text-decoration: none;
}


/* Franchise Card Designs */
.franchise_card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  margin: 50px auto;
  background: #f4293c;
  border: 5px solid #16171c;
  border-radius: 3px;
  border-radius: 20px;
}

.franchise_card .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 100% 440px;
  background-position: left top;
  transition: all 0.5s ease-in-out;
}

.franchise_card .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-size: 100% 440px;
  background-position: left bottom;
  transition: all 0.5s ease-in-out;
}

.franchise_card .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #16171c inset;
}

.franchise_card .text {
  position: absolute;
  bottom: 80px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease;
  font-weight: 600;
}

.franchise_card .catagory {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease;
}

.franchise_card .views {
  position: absolute;
  left: 10px;
  top: 175px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #8e1627;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease 0.15s;
}

.franchise_card:hover .img1 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5;
}

.franchise_card:hover .img2 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px;
}

.franchise_card:hover .text {
  opacity: 0.8;
  transform: rotate(0deg);
}

.franchise_card:hover .views,
.franchise_card:hover .catagory {
  transform: translate(0);
}
.franchise_desc {
    margin-top: 45px;
    font-size: 15px;
    background: #202128;
    padding: 20px;
    border-radius: 15px;
}

/* Language Selector Widget Designs */
.container-lang {
  align-items: center;
  /*       background: #F1EEF1;
  border: 1px solid #D2D1D4;
  */      display: flex;
  justify-content: center;
  float: right;
}
.email-lang {
  background: #111216;
  border-radius: 16px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 162px;
  -webkit-tap-highlight-color: transparent;
  transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.email-lang:not(.expand) {
  cursor: pointer;
}
.email-lang:not(.expand):hover {
  background: #2d303d;
}
.from-lang {
  position: absolute;
  transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.from-contents-lang {
  display: flex;
  flex-direction: row;
  transform-origin: 0 0;
  transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.to-lang {
  opacity: 0;
  position: absolute;
  transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
}
.to-contents-lang {
  transform: scale(.55);
  transform-origin: 0 0;
  transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.avatar-lang {
  border-radius: 12px;
  height: 24px;
  left: 6px;
  position: relative;
  top: 4px;
  width: 24px;
  background: #ff4c4c;
  text-align: center;
  font-size: 10px;
  padding: 4px;
  color: #fff;
}
.name-lang {
  font-size: 14px;
  line-height: 32px;
  margin-left: 10px;
}
.top-lang {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  display: flex;
  flex-direction: row;
  height: 70px;
  transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 300px;
}
.avatar-large-lang {
  border-radius: 21px;
  height: 42px;
  margin-left: 12px;
  position: relative;
  top: 14px;
  width: 42px;
  background: #ffffff6b;
  padding: 8px;
}
.name-large-lang {
  color: #efd8ef;
  font-size: 16px;
  line-height: 70px;
  margin-left: 20px;
}
.lang-icon {
  color: #e6edf6;
  text-align: center;
}
.x-touch-lang {
  align-items: center;
  align-self: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  width: 50px;
}
.x-lang {
  background: #111216;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width: 20px;
}
.x-touch-lang:hover .x {
  background: #CB9AFB;
}
.line1-lang {
  background: #fff;
  height: 12px;
  position: absolute;
  transform: translateX(9px) translateY(4px) rotate(45deg);
  width: 2px;
}
.line2-lang {
  background: #fff;
  height: 12px;
  position: absolute;
  transform: translateX(9px) translateY(4px) rotate(-45deg);
  width: 2px;
}
.bottom-lang {
  background: #111216;
  color: #e6ede3;
  font-size: 14px;
  height: 200px;
  padding-top: 5px;
  width: 300px;
}
.row-lang {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 20px;
}
.twitter-lang {
  margin-left: 16px;
  height: 30px;
  position: relative;
  top: 0px;
  width: 30px;
}
.medium-lang {
  height: 30px;
  margin-left: 16px;
  position: relative;
  width: 30px;
}
.link-lang {
  margin-left: 16px;
}
.link-lang a {
  color:  #e6edf6;
  text-decoration: none;
}
.link-lang a:hover {
  color:  #777579;
}
.email-lang.expand-lang {
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
  height: 200px;
  width: 300px;
}
.expand-lang .from-lang {
  opacity: 0;
  transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
}
.expand-lang .from-contents-lang {
  transform: scale(1.91);
}
.expand-lang .to-lang {
  opacity: 1;
  transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.expand-lang .to-contents-lang {
  transform: scale(1);
}
.lang-selector {
  width: 100%;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  padding: 10px;
  margin: 20px 0px;
  border-radius: 20px;
}
.lang-selector-text {
  font-size: 15px;
  padding: 15px;
  color: #fff;
}
@media (max-width: 535px) {
  .lang-selector {
    text-align: center;
  }
  .container-lang {
    float: none;
  }
}

/* Menu Icons */
.menu-icons {
  margin-right: 5px;
}
