---

---

$brown: #B59F62;
$teal: #40FFDC;
$black: #111;
$primary: #ee0979;
$dark:    $black;
$enable-rounded: false;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';


// general
body, input, button, select, optgroup, textarea {
    font-family:Sen;
}
body {
    line-height:1.7;
    background: #111216;
    color: #e6edfa;
}
a {
    color: darken($primary, 1%);
}
img {
    max-width:100%;
    height:auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:700;
}
.site-content {
    padding-top:50px;
}
.sitetag {
    font-weight:700;
    line-height:1.3;
    font-size:35px;
    @include media-breakpoint-up(sm) {
        font-size:50px;
        line-height:1.2;
    }
}
.bigradius {
    border-radius: 5px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
    border: transparent;
}
blockquote {
    font-family: Times New Roman;
    font-style: italic;
    font-size: 20px;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}
// animation
.nav-icon,
.hamburger-bar,
.hamburger-bar:before,
.hamburger-bar:after,
#menu,
body,
a,
a:hover,
body.active-side,
.site-content,
.show-search, .show-search:hover,
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.featured-image, .firstpage .blog-grid-item:nth-child(1), .firstpage .blog-grid-item:nth-child(2), .firstpage .blog-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}
// menu
.navbar-brand img {
    max-height:75px;
    margin-bottom:40px;
    margin-top:40px;
}
.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1022;
}
.nav-icon {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
    .hamburger-bar {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        &:before, &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background: #fff;
            border-radius: 1px;
        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
            }
        }
    }
}
.nav-icon.active {
  background: #39393978;
  box-shadow: none;
  padding: 0;
  border-radius: 50%;
  position: fixed;
}
@media (max-width: 449px) {
  #menu {
    width: calc(100vw - 30px);
  }
}
@media (min-width: 449.1px) {
  #menu {
    width: 420px;
  }
}
.blackover {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(8, 11, 16, 0);
    z-index: -1;
    animation: animate2 .3s;
    &.active {
            z-index: 4;
            background: rgba(8, 11, 16, 0.7);
    }
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 96%;
    background: #0b0d12;
    padding: 0;
    margin: 0;
    transform: translate(-100%, 0);
    z-index: 1022;
    border-radius: 20px;
    background-size: cover;
    &.active {
        transform: translate(0%, 0);
        margin: 15px;
        border-radius: 20px;
    }
    ul {
        float: left;
        width: 100%;
        padding: 80px 50px 80px 50px;
        background: linear-gradient(to top, #0b0d12 60%, transparent 100%);
        height: 100%;
        border-radius: 20px;
        h3 {
            margin-bottom:30px;
        }
        li {
            list-style: none;
            width: 100%;
            a {
                width: 100%;
                display: inline-block;
                padding: 2vh 0px 2vh 0px;
                line-height: 20px;
                text-decoration: none;
                color: #fff;
                font-weight: 400;
                font-size: 18px;
                position: relative;
                margin-bottom: 10px;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0px 2px 5px 0px rgba(0, 52, 102, 0.11) !important;
                background: #12141a;
            }
        }
    }
}


// blog grid
.blog-grid-container {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.blog-grid-item {
    color: #333;
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:40px;
        border-radius:50%;
        margin-right: 7px;
    }
    .card {
        border:0;
        &:hover {
           .card-title a {
                background-size: 100% 100%;
            }
        }
    }
    .card-title {
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a {
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        font-size:16px;
        line-height:1.8;
        margin-top:15px;
    }
    .card-footer {
       font-size:14px;
        border-top:0;
        border-radius: 0px 0px 10px 10px;
        padding: 2rem 1.25rem 1rem 1.25rem;
        bottom: 0px;
        position: absolute;
        width: 100%;
        a {
            color:inherit;
            font-weight:700;
        }
      }
    .card-footer-2 {
        font-size:14px;
            border-top:0;
            border-radius: 15px;
            padding: 1rem 1.25rem;
            a {
                color:inherit;
                font-weight:700;
            }
    }
    .post-date {
        float:right;
        margin-top: 10px;
    }
    .img-thumb {
        object-fit: cover;
        height:240px;
        width:100%;
        object-position:top;
        border-radius: 10px;
    }
}
.firstpage {
    .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;
        }
        .img-thumb {
            object-fit: cover;
            width:100%;
            object-position:top;
        }
    }

    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }
    }
}

//pagination
.pagination {
    justify-content:center;
    a {
        background: linear-gradient(to right, #ff6a00, #ee0979);
        color:#fff;
        cursor:pointer;
        &:hover {
            background: $primary;
            text-decoration:none;
        }
    }
    a, span  {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    span {
        border:0;
    }
}

//newsletter
.newsletter {
    h4 {
        line-height:1.3;
    }
    margin-top:120px;
    img.newsletter-logo {
        max-height:70px;
    }
    input {
        border:1px solid transparent;
        border-radius: 5px;
        background: #1f2129;
        color: #e6edfa;
    }
    .mc-field-group {
        border-radius:2px;
        display:inline-block;
        input[type="email"] {
            padding:4px 10px;
            min-width:200px;
        }
        input[type="submit"] {
            color: #111216;
            padding: 4px 20px;
            margin-left:-5px;
            background:linear-gradient(to right, #ff6a00, #ee0979);
            border: transparent;
            font-weight:700;
            border-radius: 5px;
            box-shadow: 0 0 5px 1px #ff17176b;
        }
    }
    form {
        margin-top:30px;
    }
}
.card.h-100 {
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 0 1px 3px #23252d;
}
// blog
.article-post, .entry-header, .comments, .rating, .authorbox {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.posttitle {
    font-size:50px;
    font-weight:700;
    line-height:1.2;
}
.entry-featured-image {
    width:940px;
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}
.image-shadow {
    -webkit-box-shadow: 0 30px 60px -10px rgba(0,0,0,0.22), 0 18px 36px -18px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 30px 60px -10px rgba(0,0,0,0.22), 0 18px 36px -18px rgba(0,0,0,0.25);
    box-shadow: 0 30px 60px -10px rgba(0,0,0,0.22), 0 18px 36px -18px rgba(0,0,0,0.25);
}
.entry-header {
    .author-thumb {
        width:50px;
        border-radius:50%;
        margin-right:10px;
        border:2px solid #e41160;
        padding:2px;
    }
}
.authorbox {
    margin-top:50px;
    margin-bottom:50px;
    .author-description {
        font-size:16px;
    }
    .author-thumb {
        width:70px;
        border-radius:50%;
        border:2px solid #e41160;
        padding:2px;
    }
}
.article-post {
    font-size:18px;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
    code {
        font-size: 15px;
        color: #94918d;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size:15px;
        margin-bottom:30px;
        background: #fff;
        color:inherit;
    }
    div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
        margin-right:2px;
        margin-left:2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }
}

.c-rating button {
    cursor:none;
}

.spoiler {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all .4s;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        opacity: 0;
        content: 'Click to reveal spoiler';
        top: 45%;
        left: calc(50% - 75px);
        text-shadow: none;
        background: #222;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 2px 3px;
        width: 150px;
        font-family: Arial;
        text-align: center;
        border-radius: 3px;
        transition: all .4s;
    }
    &:hover:after {
        opacity: 1;
    }
}

.comments {
    margin-top:30px;
    margin-bottom:60px;
    #comments {
        display:none;
        margin-top:60px;
        &.comments--show {
            display:block;
        }
    }
}
.related-posts {
    h2 {
    }
    margin-top:120px;
    .badge {
        padding:5px 10px;
        display:inline-block;
    }
    .margin {
      margin: 0 3px;
      font-size: 15px;
    }
}

//share
.share {
    position:fixed;left:15px;bottom:40%;z-index: 1026;
    text-align:center;
    visibility: collapse;
    ul {
        list-style:none;
        padding-left:0;
        li {
            margin:15px 0;
            a {
                color:$dark;
            }
        }
    }
}

//search
.show-search {
    cursor:pointer;
    &:hover {
        color: darken($primary,20%);
    }
}
.bd-search {
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s linear;
    &.search--show {
        visibility: visible;
        opacity: 1;
        transition:opacity 0.5s linear;
    }
}
.wrap-search {
    position: fixed;
    z-index: 1026;
}
.modal-open .modal {
    background: rgba(29, 31, 37, 0.89);
}
.lunrsearchresult {
    .title {
        color:#000;
        font-weight:700;
        line-height:1.2;
        display:block;
        font-size:20px;
        margin-bottom:5px;
        &:hover {
            color: darken($primary,20%);
        }
    }
    span.body {
        color: $gray-500;
        line-height:1.7;
        display:block;
        margin-bottom:10px;
    }
    a {
        &:hover {
            text-decoration:none;
        }
    }
    span.url {
         display:none;
    }
}
body.active-side {
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
}
//footer
.footer {
    margin-top:120px;
    padding:30px;
    font-size:15px;
    background:linear-gradient(to top, #22242c 25%, #111216 100%);
    position: relative;
}

//responsive tweaks
@media (min-width: 768px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 80%;
    }
}
@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 1140px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 90%;
        max-width:90%;
        padding-left:80px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .newsletter img.newsletter-logo {
        max-height: 50px;
        float: left;
    }
}
@media (max-width: 768px) {
    .posttitle {
        font-size:35px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr;
    }
    .firstpage .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .blog-grid-item .img-thumb,
    .firstpage .blog-grid-item:nth-child(1) .img-thumb,
    .firstpage .blog-grid-item:nth-child(2) .img-thumb,
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:240px;
    }
    .newsletter {
        span.h4 {
            font-size: 20px;
        }
        .mc-field-group input[type="email"] {
            padding: 4px 10px;
            min-width: 400px;
            border-radius: 5px;
        }
        .mc-field-group input[type="submit"] {
            padding: 4px 10px;
        }
    }
}

@media (max-width: 600px) {
    .nav-icon, .sidebar, .wrap-search {
        position:absolute;
    }
    .container {
        padding-left:15px;
    }
    .site-content {
        padding-top:0;
    }
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
    .wrap-search {
        right: 25px;
        display: flex;
        left: unset;
        z-index:0;
    }
    .share {
        display: flex;
        align-items:center;
    }
    .share ul li {
        display:inline-block;
        margin: 10px 15px !important;
    }

    #menu ul {
        padding: 80px 30px 80px 30px;
    }
    .related-posts {
        h2 {
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 480px) {
    .newsletter {
        .mc-field-group input[type="email"] {
            min-width:150px;
            width: 200px;
            border-radius: 5px;
        }
    }
    .article-post, .entry-header, .comments, .rating, .authorbox {
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:15px;
        font-size:18px;
    }
    .article-post {
        font-size:15px;
    }
    .wrap-search {
        .fa-search {
            display:none;
        }
        .form-control {
            height:35px;
        }
    }
}

.blog-grid-container-2 {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

@media (max-width: 1300px) {
  .blog-grid-container-2 {
    grid-template-columns: 1fr;
  }
}
/* Movie Card */
.link{
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.movie_card{
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 20px;
      height: 40%;
      h1{
        color: #fff;
        font-weight: 600;
        font-size: 30px;
      }
      h4{
        color: #e1e7ff;
        font-weight: 400;
        font-size: 1rem;
      }
      .minutes{
        display: inline-block;
        color: #fff;
        padding: 1px 5px;
        border-radius: 5px;
        border: transparent;
        background: linear-gradient(to right, #ff6a00, #ee0979);
        margin-right: 5px;
        font-weight: 600;
      }
      .type{
        display: block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 15px;
        height: 125px;
        width: 90px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
        border-radius: 10px;
      }
    }
    .movie_desc{
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      height: 50%;
      font-weight: 500;
      font-size: 0.9rem;
      .text{
        color: #e6edfa;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768.1px) {
  .movie_header{
    width: 100%;
  }

  .movie_desc{
    width: 90%;
  }

  .info_section{
    background: linear-gradient(to right, #16171c 50%, transparent 100%);
  }

  .blur_back{
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 100%;
    min-height: 350px;
    height: auto;
  }

  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header{
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc{
    width: 100%;
  }

  .info_section{
    background: linear-gradient(to top, #16171c 50%, transparent 100%);
    display: inline-grid;
  }
}
@media (max-width: 1300px) {
  .movie_desc {
  padding-top: 5px;
 }
}
@media (min-width: 1300.1px) {
  .movie_desc {
  padding-top: 40px;
 }
}

.shadow {
  box-shadow: none !important;
}

.form-control {
  background-color: #1f2129;
}
.form-control:focus {
  color: #e6ede3;
  background: #1f2129;
}
