<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if page.tags %}
		<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% endif %}
<!-- Propellar Ads -->
<meta name="propeller" content="dc3ff804bcb9a9b246cec1f4805a8e62">
<!-- Propellar Ads -->

<link rel="icon" href="{{ site.baseurl }}{{site.data.meta-data.favicon}}">
 <link rel="shortcut icon" href="{{ site.baseurl }}{{site.data.meta-data.favicon}}" type="image/x-icon" />

<title>{{ page.title }} | {{site.data.meta-data.name}}</title>

{% seo %}

<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<!-- Owl Carousel -->
<link rel="stylesheet" href="{{site.baseurl}}/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/owlcarousel/owl.theme.default.min.css">
<!-- End Owl Carousel -->
<!-- Adsense Code -->
<script data-ad-client="ca-pub-4944786899709076" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Fontawesome Kit script -->
<script src="https://kit.fontawesome.com/7f76225e56.js" crossorigin="anonymous"></script>
<!-- Poptin Code -->
<script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=2151d9d370e86' async='true'></script>
<!-- End Poptin Code -->
</head>

{% if site.data.analytics.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BBXBLS2KFK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.data.analytics.google_analytics}}');
</script>
{% endif %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>

<!-- Begin Sidebar Navigation
================================================== -->

<div class="sidebar">
</div>
<div class="nav-icon gradient-bg">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3 class="gradient-text">Navigation</h3>
    {% for item in site.data.menus.menu %}
      {% if item.title, item.badge and item.url %}
        <li><a href="{{ site.baseurl }}{{item.url}}">{{ item.title}} <span class="badge badge-primary">{{ item.badge }}</span></a></li>
      {% endif %}
    {% endfor %}
    </ul>
</nav>

{% include search-lunr.html %}


<!-- End Sidebar Navigation
================================================== -->

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

<div class="container">

    <!-- Site Logo/Name
    ================================================== -->

    <a class="navbar-brand" href="{{ site.baseurl }}">
        <img src="{{ site.baseurl }}{{ site.data.meta-data.logo }}" alt="{{ site.name }}">
    </a>

    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>

    {% if site.mailchimp-list %}
    <!-- Newsletter
    ================================================== -->
    <div class="newsletter text-center">
        <span class="h4"><img src="{{ site.baseurl }}{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group d-inline-flex">
            <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>
    {% endif %}

</div>

<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">
                <a target="_blank" href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->
<!-- Webpushr Script -->
<!-- start webpushr code --> <script>
(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('init','BNeESIKPdOkjOHU8JqEL2pGNZ6fia5ChmYuC437l8pIr7c_M6XQnbwh2VmjglcOPzdzbIbtMJLdTzZAw1lgPews');
</script>
<!-- end webpushr code -->
<!-- End Webpushr script -->

<!-- Include Google Firebase -->
{% include google-firebase.html %}
<!-- End Include Google Firebase -->
<!-- Include the script that adds Netlify Identity Widget  -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- End script of Netlify CMS -->
<script src="{{site.baseurl}}/owlcarousel/jquery.min.js"></script>
<script src="{{site.baseurl}}/owlcarousel/owl.carousel.min.js"></script>
<!-- Script of Owl Carousel -->

<!-- End of script of Owl Carousel -->
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}

</body>
</html>
